@import '../../less/main';
.adder {
    z-index: 500;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width:80px;
    height: 80px;
    border-radius: 50%;
    // overflow: hidden;

    pointer-events: all;
    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: 'icon';

    align-items: center;
    justify-content: center;
    
    background-color: @background;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);

    transition: width .5s, border-radius .5s, height .5s, box-shadow .5s;
    .icon {
        justify-self: center;
        grid-area: icon;
        width: auto;
        height: auto;
        position: absolute;
        font-size: 40px;
        color: @primary;
        // text-shadow: 1px -1px 0px @contrast, 2px -2px 0px @contrast;
        transition:  color 2s, background-color .5s;
    }
    .content {
        grid-area: content;
        color: @primary;
        text-shadow: 1px -1px 0px @contrast, 2px -2px 0px @contrast;
        justify-self: center;
        .form {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.adder:hover {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.7);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.7);
}
.adder.open {
    width: 100%;
    border-radius: 0;
    right: 0;
    bottom: 0;
    grid-template-areas: 'content';
    .icon {
        width: 50px;
        height: 50px;
        text-align: center;
        align-self: flex-start;
        color: @background;
        background-color: @primary;
        justify-self: left;
    }
}
.adder.expand {
    height: 100%;
    bottom: 0;
}

form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    * {
        margin-top: 25px;
    }
    .range {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        input {
            width: 600px;
        }
    }
}

@media screen and (max-width: @mobile) {
    form {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        * {
            margin-top: 10px;
        }
        .range {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            input {
                width: 325px;
            }
        }
    }
}