.title {
    padding: 1.5rem;
    font-size: 4rem;
}
.content {
    padding: 2rem;
    font-size: 1.3rem;
    .paragraph,p {
        padding-bottom: 1.2rem;
        text-indent: 3rem;
    }
}
// @media only screen and (max-width: 1200px) {
//     .
// }