<div class="main">
    <h1 class="__text-heading">What is Nomad Pit Stops?</h1>
    <p class="__text">
        Nomad Pit Stops was created with the sole purpose of sharing amazing
        places to work remote across the globe. Weather you are a full time
        traveling digital nomad or a seasonal virtual vagabond we sincerely
        believe that you will find something for you here. Check out our map
        <a href="/map">Map</a> to see pit stops near you or to seek out the next coffee shop to
        camp out at on your next adventure ☕ . Make sure you stop
        by our <a routerLink="/blog">blog</a> to see what adventures we are going on and maybe
        get inspired to skp the office the next couple of weeks 🏖️ 
    </p>
    <p class="__text">Happy Adventures!</p>
    <p class="__text">NPS Team</p>
    <!-- <h2 class="__text-heading">Why do you request my location?</h2> -->
    <h2 class="__text-heading">Credits</h2>
    <div class="__text">
        Icons made by
        <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
        >
        is licensed by
        <a
            href="http://creativecommons.org/licenses/by/3.0/"
            title="Creative Commons BY 3.0"
            target="_blank"
            >CC 3.0 BY</a
        >
    </div>
</div>
