@import '../../less/main.less';
.body {
    height: 100%;
    background-color: @background;
    overflow-y: auto;
}
.head {
    .title {
        line-height: 1;
        text-align: center;
        color: @primary;
        font-size: 3rem;
    }
    border-bottom: 20px double @primary;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px 50px;
    margin: 1.5rem;
    pointer-events: all;
    .post {
        position: relative;
        text-decoration: none;
        color: inherit;
        img {
            width: 100%;
            height: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        .title {
            position: absolute;
            bottom: -25%;
            // right: 50%;
            background-color: @primary;
            width: 100%;
            height: 30%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            * {
                text-align: center;
            }
            .readmore {
                display: none;
                visibility: hidden;
            }
            .readmore:hover {
                text-decoration: underline;
            }
            .description {
                display: none;
                visibility: hidden;
            }
        }
    }
    .post:hover {
        cursor: pointer;
        img {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
        }
        .title {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
            height: 125%;
            .text-title {
                position: relative;
                transform: translate(0, 0);
                left: 0;
                padding: initial;
            }
            .readmore {
                display: block;
                visibility: visible;
            }
            .description {
                display: block;
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .posts {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 750px) {
    .posts {
        grid-template-columns: 1fr;
        .post {
            margin: 2rem;
        }
    }
}
