<div class="wrap themed-text">
    <nav class="navbar">
        <div class="logo"><a routerLink="/">Nomad Pitstops</a></div>
        <div class="menu">
            <div class="hamberger" (click)="onClickHamberger($event)">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="links {{ linksState }}" [@openItems]>
            <div><a routerLink="/blog">Blog</a></div>
            <div><a routerLink="/map">Map</a></div>
            <div><a routerLink="nearme" class="near">Nearby</a></div>
            <!-- <li>
                <a routerLink="/login"
                    >Log In</a
                >
            </li>
            <li>
                <a
                    routerLink="/login"
                    >Log Out</a
                >
            </li> -->
        </div>
    </nav>
</div>
