<div class="container themed-text">
    <div class="btn twitter" (click)="onTweet()">
        <i class="fab fa-twitter"></i>
        <div class="content">Tweet</div>
    </div>
    <a class="btn pintrest" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true">
        <i class="fab fa-pinterest-p"></i>
        <div class="content">Pin</div>
    </a>
    <div class="btn facebook"  (click)="shareToFacebook()">
        <i class="fab fa-facebook-f"></i>
        <div class="content">Post</div>
    </div>
    <!-- <a href="https://twitter.com/intent/tweet?button_hashtag=LoveTwitter&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #LoveTwitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
</div>
