@import 'variables';
input[type='text'], input[type='password'] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 40px;
    font-size: 24px;
    background-color: white;
    border: 3px solid @primary;
    border-radius: 5px;
}