@import '../../less/main.less';
.main {
    @pitstopWidth: 25vw;
    position: relative;

    height: 100%;
    background: @background-light;
    overflow-y: auto;
    display: grid;
    grid-template-columns: @pitstopWidth auto;
    grid-template-areas: 'pitstops blog';
    .blog {
        grid-area: blog;
        .blog-heading {
            padding-left: 1rem;
        }
        .post {
            margin: 1rem;
            color: initial;
            text-decoration: initial;
            padding: 2rem;
            // font-family: 'Raleway';
            .sub {
                text-align: right;
            }
            .sub:hover {
                text-decoration: underline;
            }
        }
    }
    // .pitstops {
    //     // height: 100%;
    //     width: @pitstopWidth;
    //     // position: fixed;
    //     background-color: @background;
    //     grid-area: pitstops;
    //     overflow: hidden;
    //     app-near {
    //         // position: fixed;
    //         // height: 100%;
    //         // width: 100%;
    //     }
    // }
}

@media screen and (max-width: @tablet) {
    .main {
        grid-template-columns: 40vw auto;
        .pitstops {
            width: 40vw;
        }
    }
}
@media screen and (max-width: @tablet-small) {
    .main {
        grid-template-columns: 50vw auto;
        .pitstops {
            width: 50vw;
        }
    }
}
@media screen and (max-width: @mobile) {
    .main {
        grid-template-columns: 1fr;
        .pitstops {
            display: none;
            visibility: hidden;
        }
    }
}
