<div class="main">
    <div class="pitstops">
        <app-near></app-near>
    </div>
    <div class="blog">
        <h1 class="__text-heading blog-heading">Recent Blog Posts</h1>
        <a
            *ngFor="let blog of blogs"
            class="post __card __hoverable"
            routerLink="blog/{{ blog.id }}"
        >
            <h2 class="__text-heading">{{ blog.title }}</h2>
            <p class="__text snippet">
                {{ blog.snippet }}
            </p>
            <p class="__text-sub sub">Read More</p>
        </a>
    </div>
</div>
