@import '../../less/main';
.login-page {
    pointer-events: all;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: '. form .';
    margin: 5% 0;
    .form {
        grid-area: form;
        .login-form {
            padding: 100px 50px;
            display: grid;
            margin: auto;
            justify-content: center;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        }
    }
    a {
        color: @primary;
    }
}