.main {
    margin-top: 80px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    app-near {
        height: 100%;
    }
    .col {
        position: relative;
        agm-map {
            height: 100%;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .main {
        grid-template-columns: 2fr 3fr;
    }
}
@media only screen and (max-width: 800px) {
    .main {
        grid-template-columns: 1fr; 
    }
    .near {
        display: none;
        visibility: hidden;
    }
}
