/* You can add global styles to this file, and also import other style files */
@import 'app/less/main';
body {
    margin: 0;
    height: 100%;
    background-color: @background;
    * .themed-text{
        font-family: 'Notable', sans-serif;
    }
    .shadow-text {
        text-shadow: -1px 1px 0px #2B292B, -2px 2px 0px #2B292B, -3px 3px 0px #2B292B, -4px 4px 0px #6e582c;
    }
}