<ul class="tree">
    <li>
        Hanoi
        <ul>
            <li>
                Fueled Collective
            </li>
            <li>
                Hanoi
                <ul>
                    <li>
                        Fueled Collective
                    </li>
                    <li>
                        Hanoi Sincerity Guest House
                    </li>
                </ul>
            </li>
            <li>
                Hanoi Sincerity Guest House
            </li>
        </ul>
    </li>
    <li>
        Hanoi
        <ul>
            <li>
                Fueled Collective
            </li>
            <li>
                Hanoi Sincerity Guest House
            </li>
        </ul>
    </li>
    <li>
        Hanoi
        <ul>
            <li>
                Fueled Collective
            </li>
            <li>
                Hanoi Sincerity Guest House
            </li>
        </ul>
    </li>
</ul>
